/* 宽高 */
.Fill {
    width: 100%;
    height: 100%;
}

.WidthFill {
    width: 100%;
}

.HeightFill {
    height: 100%;
}

/* flex布局 */
.Flex {
    display: flex;
}

.FlexGrow {
    flex-grow: 1;
}

.FlexNoShrink {
    flex-shrink: 0;
}

.FlexColumn {
    flex-direction: column;
}

.FlexColumnRev {
    flex-direction: column-reverse;
}

.AllCenter {
    justify-content: center;
    align-items: center;
}

.JustifyCenter {
    justify-content: center;
}

.JustifyAround {
    justify-content: space-around;
}

.JustifyEvenly {
    justify-content: space-evenly;
}

.AlignCenter {
    align-items: center;
}

/* 背景颜色 */
.BgNone {
    background-color: unset;
}
